@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --theme-color: rgba(150, 5, 5,0.8);
}
body{
    font-family: 'Poppins';
}

.bg-custom{
    background-color: rgba(150, 5, 5,0.8);
    border: none;
}
.bg-custom:hover{
    background-color: rgb(150, 5, 5);
    transition: all 0.7s ease;
}
.theme-color{
    color:var(--theme-color);
}
